      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    
	.btn-link{color:#e17a2a}
	.btn-link:hover{color:#ffaf71; text-decoration:none}
	
	.btn.focus, .btn:focus{box-shadow:none}
.homecarousel{background:/*#777*/ #e17a2a;padding:15px 0px}
.homecarousel .container{color:#fff}
.homecarousel .btn-primary{    color: #e17a2a;    background-color: #eee;  border-color: #eee}

.innerbreadcrumbs{background:/*#777*/ #e17a2a;padding:20px 0px; text-align:center; color:#fff; margin-bottom:20px}
.innerbreadcrumbs h2{font-weight:400}

.otherlinkssection{}
.otherlinkssection a{display:block; background:#fffdfd;padding:8px}
.otherlinkssection a:nth-child(even){background:transparent}
#accordionExample .card-header{padding:0rem 0.5rem}
#accordionExample .card-header .fa{float:right;position:relative;top:8px}


main{padding-top:50px}
.aboutcurosel{background:#fffcf0;padding:15px 0px;margin-top:-20px}

body .bg-light{background:#fff!important}

@media only screen and (max-width: 600px) {
  .carousel-item{height:40rem}
}


.sectiontitle{display:block; border-left:10px solid #e17a2a;font-size: 2rem;   padding  font-weight: 400; margin:15px 0px; position:relative}
.sectiontitle span{position:absolute;left:0px;top:50%;width:100%;height:5px; background:#e17a2a;display:block;z-index:1}
.sectiontitle i{display:inline-block;background:#fff;z-index:3;position:relative; padding:0px 10px;  font-style: normal;}